<!-- START: inst/pkgdown/templates/content-instructor.html -->
  <div class="col-xl-8 col-lg-12 primary-content">
    <nav class="lesson-content mx-md-4" aria-label="Previous and Next Chapter">
      <!-- content for small screens -->
      <div class="d-block d-sm-block d-md-none">
        {{#page_back}}
        <a class="chapter-link" href="{{#site}}{{root}}{{/site}}{{page_back}}"><i aria-hidden="true" class="small-arrow" data-feather="arrow-left"></i>Previous</a>
        {{/page_back}}
        {{#page_forward}}
        <a class="chapter-link float-end" href="{{#site}}{{root}}{{/site}}{{page_forward}}">Next<i aria-hidden="true" class="small-arrow" data-feather="arrow-right"></i></a>
        {{/page_forward}}
      </div>
      <!-- content for large screens -->
      <div class="d-none d-sm-none d-md-block">
        {{#page_back}}
        <a class="chapter-link" href="{{#site}}{{root}}{{/site}}{{page_back}}" rel="prev">
          <i aria-hidden="true" class="small-arrow" data-feather="arrow-left"></i>
          {{#back_title}}Previous: {{back_title}}{{/back_title}}{{^back_title}}Home{{/back_title}}
        </a>
        {{/page_back}}
        {{#page_forward}}
        <a class="chapter-link float-end" href="{{#site}}{{root}}{{/site}}{{page_forward}}" rel="next">
          {{#forward_title}}Next: {{forward_title}}... {{/forward_title}}{{^forward_title}}Home{{/forward_title}}
          <i aria-hidden="true" class="small-arrow" data-feather="arrow-right"></i>
        </a>
        {{/page_forward}}
      </div>
      <hr/>
    </nav>
    <main id="main-content" class="main-content">
      <div class="container lesson-content">
        <h1>{{& pagetitle}}</h1>
        <p>{{#updated}} Last updated on {{updated}} | {{/updated}}
        {{#yaml}}
        {{^beta-date}}{{^pre-beta-date}}
        <a href="{{#yaml}}{{source}}/edit/{{branch}}/{{/yaml}}{{file_source}}{{^file_source}}README.md{{/file_source}}">Edit this page <i aria-hidden="true" data-feather="edit"></i></a></p>
        {{/pre-beta-date}}{{/beta-date}}
        {{#pre-beta-date}}
        <a href="{{#yaml}}https://carpentries.github.io/workbench/contributor/pre-beta.html?id={{source}}/edit/{{branch}}/{{/yaml}}{{file_source}}{{^file_source}}README.md{{/file_source}}">Edit this page <i aria-hidden="true" data-feather="edit"></i></a></p>
        {{/pre-beta-date}}
        {{#beta-date}}{{^pre-beta-date}}
        <a href="{{#yaml}}{{source}}/edit/{{branch}}/{{/yaml}}{{file_source}}{{^file_source}}README.md{{/file_source}}">Edit this page <i aria-hidden="true" data-feather="edit"></i></a></p>
        {{/pre-beta-date}}{{/beta-date}}
        {{/yaml}}
        {{#instructor}}
        {{#minutes}}<p>Estimated time <i aria-hidden="true" data-feather="clock"></i> {{minutes}} minutes </p>{{/minutes}}
        {{#slides}}<p><button class="btn btn-primary-outline">Export Chapter Slides</button></p>{{/slides}}
        {{/instructor}}
        <div class="text-end">
          <button role="button" aria-pressed="false" tabindex="0" id="expand-code" class="pull-right"> Expand All Solutions <i aria-hidden="true" data-feather="plus"></i></button>
        </div>

        {{{body}}}

      </div> <!-- / div.lesson-content -->
    </main> <!-- / main#main-content.main-content -->
    <nav class="bottom-pagination mx-md-4" aria-label="Previous and Next Chapter">
      <div class="d-block d-sm-block d-md-none">
        {{#page_back}}
        <a class="chapter-link" href="{{#site}}{{root}}{{/site}}{{page_back}}"><i aria-hidden="true" class="small-arrow" data-feather="arrow-left"></i>Previous</a>
        {{/page_back}}
        {{#page_forward}}
        <a class="chapter-link float-end" href="{{#site}}{{root}}{{/site}}{{page_forward}}">Next<i aria-hidden="true" class="small-arrow" data-feather="arrow-right"></i></a>
      </div>
        {{/page_forward}}
      <!-- content for large screens -->
      <div class="d-none d-sm-none d-md-block">
        {{#page_back}}
        <a class="chapter-link" href="{{#site}}{{root}}{{/site}}{{page_back}}" rel="prev">
          <i aria-hidden="true" class="small-arrow" data-feather="arrow-left"></i>
          {{#back_title}}Previous: {{back_title}}{{/back_title}}{{^back_title}}Home{{/back_title}}
        </a>
        {{/page_back}}
        {{#page_forward}}
        <a class="chapter-link float-end" href="{{#site}}{{root}}{{/site}}{{page_forward}}" rel="next">
          {{#forward_title}}Next: {{forward_title}}... {{/forward_title}}{{^forward_title}}Home{{/forward_title}}
          <i aria-hidden="true" class="small-arrow" data-feather="arrow-right"></i>
        </a>
        {{/page_forward}}
      </div>
    </nav>
  </div> <!-- / div.primary-content.col-xs-12 -->
<!-- END:   inst/pkgdown/templates/content-instructor.html-->
