<!-- START: inst/pkgdown/templates/content-extra.html -->
  <div class="col-xl-8 col-lg-12 primary-content">
    <main id="main-content" class="main-content">
      <div class="container lesson-content">
        <h1>{{{pagetitle}}}</h1>
        <p>{{#updated}} Last updated on {{updated}} | {{/updated}}<a href="{{#yaml}}{{source}}/edit/{{branch}}/{{/yaml}}{{file_source}}{{^file_source}}README.md{{/file_source}}">Edit this page <i aria-hidden="true" data-feather="edit"></i></a></p>
        <div class="text-end">
          <button role="button" aria-pressed="false" tabindex="0" id="expand-code" class="pull-right"> Expand All Solutions <i aria-hidden="true" data-feather="plus"></i></button>
        </div>
        {{{body}}}
      </div>
    </main>
  </div>
<!-- END  : inst/pkgdown/templates/content-extra.html -->
