<!-- START: inst/pkgdown/templates/content-syllabus.html -->
<div class="col-xl-12 col-lg-12">
    <main id="main-content" class="main-content">
      <h1>{{& pagetitle }}</h1>
      <div class="container lesson-content">
        <p>
          {{# translate.LastUpdate }} {{& translate.LastUpdate }} |{{/ translate.LastUpdate }}
          <a href="{{#yaml}}{{source}}/edit/{{branch}}/{{/yaml}}{{file_source}}{{^file_source}}index.md{{/file_source}}">
            {{ translate.EditThisPage }} <i aria-hidden="true" data-feather="edit"></i>
          </a>
        </p>

      {{& readme }}

      {{#syllabus}}
      <section id="schedule">
      <table class="table schedule table-striped" role="presentation">
        <tbody>
          {{#setup}}
          <tr>
            <td></td><td><a href="#setup">{{ translate.SetupInstructions }}</a></td><td> {{ translate.DownloadFiles }}</td>
          </tr>
          {{/setup}}
          {{& syllabus }}
      </table>
      <p>
      {{ translate.ActualScheduleNote }}
      </p>
      </section>
      {{/syllabus}}
      {{#setup}}
      <section id="setup">
      {{{setup}}}
      </section>
      {{/setup}}
    </main>
  </div>
<!-- END  : inst/pkgdown/templates/content-syllabus.html -->
