<!-- START: inst/pkgdown/templates/content-syllabus.html -->
<div class="row">
  <div class="col-xl-12 col-lg-12 primary-content">
    <main id="main-content" class="main-content">
      <h1 class="schedule-heading">Schedule</h1>
      <table class="table schedule table-striped" role="presentation">
        <tbody>
          <tr>
            <td></td><td><a href="#">Summary and Setup</a></td><td> Download files required for the lesson</td>
          </tr>
          {{{syllabus}}}
      </table>
      <p>
      The actual schedule may vary slightly depending on the topics and exercises chosen by the instructor.
      </p>
    </main>
  </div>
</div>
<!-- END  : inst/pkgdown/templates/content-syllabus.html -->
