<!-- START: inst/pkgdown/templates/content-title-body.html -->
<div class="row">
  <div class="contents col-md-9">
    <div class="page-header">
      <h1>{{pagetitle}}</h1>
    </div>

{{{body}}}

  </div>

  <div class="col-md-3 hidden-xs hidden-sm" id="pkgdown-sidebar">
    <nav id="toc" data-toggle="toc" class="sticky-top">
      <h2 data-toc-skip>Contents</h2>
    </nav>
  </div>

</div>

<div class="row">
  <div class="col-xs-1">
    <h3 class="text-left">
      <a href="{{#site}}{{root}}{{/site}}{{page_back}}"><span class="glyphicon glyphicon-menu-{{left}}" aria-hidden="true"></span><span class="sr-only">previous episode</span></a>
    </h3>
  </div>
  <div class="col-xs-10">
    {{#site}}
    <h3 class="maintitle"><a href="{{root}}index.html">{{title}}</a></h3>
    {{/site}}
  </div>
  <div class="col-xs-1">
    <h3 class="text-right">
      <a href="{{#site}}{{root}}{{/site}}{{page_forward}}"><span class="glyphicon glyphicon-menu-{{right}}" aria-hidden="true"></span><span class="sr-only">next episode</span></a>
    </h3>
  </div>
</div>

<!-- END:   inst/pkgdown/templates/content-title-body.html-->
