		<footer class="row footer mx-md-3">
			<hr/>
			<div class="col-md-6">
        <p>{{& translate.TemplateLicense }}</p>
        <p>{{& translate.BuiltWith }}</p>
			</div>
		</footer>
	</div> <!-- / div.container -->
	<div id="to-top">
		<a href="#top">
      <i class="search-icon" data-feather="arrow-up" role="img" aria-label="{{ translate.BackToTop }}"></i><br/>
			<!-- <span class="d-none d-sm-none d-md-none d-lg-none d-xl-block">Back</span> To Top -->
      {{& translate.SpanToTop }}
		</a>
	</div>
  {{#json}}
  <script type="application/ld+json">
    {{& json}}
  </script>
  {{/json}}
	<script>
		feather.replace();
	</script>

  {{#analytics}}
  {{& analytics}}
  {{/analytics}}
