    <meta charset="utf-8">
    <title>{{#site}}{{&title}}{{/site}}{{#pagetitle}}: {{&pagetitle}}{{/pagetitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{#site}}{{root}}{{/site}}assets/themetoggle.js"></script>
    <link rel="stylesheet" type="text/css" href="{{#site}}{{root}}{{/site}}assets/styles.css">
    <script src="{{#site}}{{root}}{{/site}}assets/scripts.js" type="text/javascript"></script>
    <!-- mathjax -->
    <!-- NOTE: https://docs.mathjax.org/en/latest/output/mathml.html#mathml-support -->
    <!-- Changes from V2 to V4: https://mathjax.github.io/MathJax-demos-web/convert-configuration/convert-configuration.html
        Jax output/NativeMML is not yet implemented
        Jax output/PreviewHTML is not yet implemented
        Extension fast-preview is not yet implemented (but may be in a future release)
    -->
    <script>
    window.MathJax = {
        tex: {
            inlineMath: [['\\(', '\\)']],
            displayMath: [ ['$$','$$'], ['\\[', '\\]'] ],
            processEscapes: true,
            packages: ['base', 'ams', 'noerrors', 'noundefined']
        },
        options: {
            ignoreHtmlClass: 'tex2jax_ignore',
            processHtmlClass: 'tex2jax_process'
        },
        loader: {
            load: ['a11y/assistive-mml', '[tex]/noerrors']
        }
    };
    </script>
    <script defer src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
    <!-- Responsive Favicon for The Carpentries -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{#site}}{{root}}{{/site}}favicons/{{#yaml}}{{carpentry}}{{/yaml}}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{#site}}{{root}}{{/site}}favicons/{{#yaml}}{{carpentry}}{{/yaml}}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{#site}}{{root}}{{/site}}favicons/{{#yaml}}{{carpentry}}{{/yaml}}/favicon-16x16.png">
    <link rel="manifest" href="{{#site}}{{root}}{{/site}}favicons/{{#yaml}}{{carpentry}}{{/yaml}}/site.webmanifest">
    <link rel="mask-icon" href="{{#site}}{{root}}{{/site}}favicons/{{#yaml}}{{carpentry}}{{/yaml}}/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="white" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="black" />
