<!-- START: inst/pkgdown/templates/header.html -->
<!--START: inst/pkgdown/templates/header.html-->
{{#yaml}}{{#life_cycle}}
    <div class="panel panel-default life-cycle">
      <div id="life-cycle" class="panel-body {{life_cycle}}">
        {{#pre_alpha}} This lesson is still being designed and assembled (Pre-Alpha version) {{/pre_alpha}}
        {{#alpha}} This lesson is in the early stages of development (Alpha version) {{/alpha}}
        {{#beta}} This lesson is being piloted (Beta version) {{/beta}}
      </div>
    </div>
{{/life_cycle}}{{/yaml}}

<!--END  : inst/pkgdown/templates/header.html-->
<!-- END:   inst/pkgdown/templates/header.html-->
