<header id="top" class="navbar navbar-expand-md top-nav {{#yaml}}{{carpentry_icon}}{{/yaml}}">
  <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="check2" viewBox="0 0 16 16">
      <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
    </symbol>
    <symbol id="circle-half" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
    </symbol>
    <symbol id="moon-stars-fill" viewBox="0 0 16 16">
      <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
      <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
    </symbol>
    <symbol id="sun-fill" viewBox="0 0 16 16">
      <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
    </symbol>
  </svg>
  <a class="visually-hidden-focusable skip-link" href="#main-content">{{ translate.SkipToMain }}</a>
  <div class="container-fluid top-nav-container">
    <div class="col-md-8">
      <div class="large-logo">
        <img id="{{#yaml}}{{carpentry}}{{/yaml}}-logo" alt="{{#yaml}}{{carpentry_name}}{{/yaml}}" src="{{#site}}{{root}}{{/site}}assets/images/{{#yaml}}{{carpentry_icon}}-logo.svg{{/yaml}}">
        {{#yaml}}{{#life_cycle}}
        {{#pre_alpha}}
        <span class ="badge text-bg-danger">
          <abbr title="{{ translate.PreAlphaNote }}">
            <a href="https://cdh.carpentries.org/the-lesson-life-cycle.html#early-development-pre-alpha-through-alpha" class="alert-link">
              <i aria-hidden="true" class="icon" data-feather="alert-octagon" style="border-radius: 5px"></i>
              {{ translate.iPreAlpha }}
            </a>
            <span class="visually-hidden">{{ translate.PreAlphaNote }}</span>
          </abbr>
        </span>
        {{/pre_alpha}}
        {{#alpha}}
        <span class ="badge text-bg-warning">
          <abbr title="{{ translate.AlphaNote }}">
            <a href="https://cdh.carpentries.org/the-lesson-life-cycle.html#field-testing-alpha-stage" class="alert-link">
              <i aria-hidden="true" class="icon" data-feather="alert-triangle" style="border-radius: 5px"></i>
              {{ translate.iAlpha }}
            </a>
            <span class="visually-hidden">{{ translate.AlphaNote }}</span>
          </abbr>
        </span>
        {{/alpha}}
        {{#beta}}
        <span class ="badge text-bg-info">
          <abbr title="{{ translate.BetaNote }}">
            <a href="https://cdh.carpentries.org/the-lesson-life-cycle.html#polishing-beta-stage" class="alert-link">
              <i aria-hidden="true" class="icon" data-feather="alert-circle" style="border-radius: 5px"></i>
              {{ translate.iBeta }}
            </a>
            <span class="visually-hidden">{{ translate.BetaNote }}</span>
          </abbr>
        </span>
        {{/beta}}
        {{#stable}}
        {{#doi}}
        <abbr class="badge peer-reviewed" title="{{ translate.PeerReview }}">
          <a href="https://doi.org/{{doi}}" class="external-link alert-link">
            <i aria-hidden="true" class="icon" data-feather="user-check" style="border-radius: 5px"></i>
            DOI: {{doi}}
          </a>
        </abbr>
        {{/doi}}
        {{/stable}}
        {{/life_cycle}}{{/yaml}}
      </div>
    </div>
    <div class="selector-container">
      <div id="theme-selector">
        <li class="nav-item dropdown" id="theme-button-list">
          <button class="btn btn-link nav-link px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
                  id="bd-theme"
                  type="button"
                  aria-expanded="false"
                  data-bs-toggle="dropdown"
                  data-bs-display="static"
                  aria-label="Toggle theme (auto)">
            <svg class="bi my-1 theme-icon-active"><use href="#circle-half"></use></svg>
            <i data-feather="chevron-down"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
            <li>
              <button type="button" class="btn dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                <svg class="bi me-2 theme-icon"><use href="#sun-fill"></use></svg>
                Light
                <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
              </button>
            </li>
            <li>
              <button type="button" class="btn dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                <svg class="bi me-2 theme-icon"><use href="#moon-stars-fill"></use></svg>
                Dark
                <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
              </button>
            </li>
            <li>
              <button type="button" class="btn dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                <svg class="bi me-2 theme-icon"><use href="#circle-half"></use></svg>
                Auto
                <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
              </button>
            </li>
          </ul>
        </li>
      </div>
      {{! NOTE: the language section will likely need to be generated on {sandpaper}, so we are not going to translate this now. }}
      {{#yaml}}{{#language}}
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
          English (US)  <i data-feather="chevron-down"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li><button class="dropdown-item" type="button">French</button></li>
        </ul>
      </div>
      {{/language}}{{/yaml}}
      <div class="dropdown" id="instructor-dropdown">
        {{#instructor}}
        <button class="btn btn-secondary dropdown-toggle bordered-button" type="button" id="dropdownMenu1" data-bs-toggle="dropdown" aria-expanded="false">
          <i aria-hidden="true" class="icon" data-feather="eye"></i> {{ translate.InstructorView }} <i data-feather="chevron-down"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><button class="dropdown-item" type="button" onclick="window.location.href='../{{this_page}}';">{{ translate.LearnerView }}</button></li>
        </ul>
        {{/instructor}}
        {{^instructor}}
        <button class="btn btn-secondary dropdown-toggle bordered-button" type="button" id="dropdownMenu1" data-bs-toggle="dropdown" aria-expanded="false">
          <i aria-hidden="true" class="icon" data-feather="eye"></i> {{ translate.LearnerView }} <i data-feather="chevron-down"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><button class="dropdown-item" type="button" onclick="window.location.href='instructor/{{this_page}}';">{{ translate.InstructorView }}</button></li>
        </ul>
        {{/instructor}}
      </div>
    </div>
  </div>
  <hr />
</header>
<nav class="navbar navbar-expand-xl bottom-nav {{#yaml}}{{carpentry_icon}}{{/yaml}}" aria-label="{{ translate.MainNavigation }}">
  <div class="container-fluid nav-container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{ translate.ToggleNavigation }}">
      <span class="navbar-toggler-icon"></span>
      <span class="menu-title">{{ translate.Menu }}</span>
    </button>
    <div class="nav-logo">
      <img class="small-logo" alt="{{#yaml}}{{carpentry_name}}{{/yaml}}" src="{{#site}}{{root}}{{/site}}assets/images/{{#yaml}}{{carpentry_icon}}-logo-sm.svg{{/yaml}}">
    </div>
    <div class="lesson-title-md">
      {{# site }}{{& title }}{{/ site }}
    </div>
    <div class="search-icon-sm">
      <!-- TODO: do not show until we have search
        <i role="img" aria-label="{{ translate.SearchButton }}" data-feather="search"></i>
      -->
    </div>
    <div class="desktop-nav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <span class="lesson-title">
            {{#site}}{{&title}}{{/site}}
          </span>
        </li>
        {{#overview}}
        {{! We want to include a setup link prominently in the resources for overview pages }}
        <li>
          {{! NOTE: the reason why we do not use the site root here is because we would need to set the site context _before_ overview }}
          <a class="nav-link" href="index.html#setup">{{ translate.Setup }}</a>
        </li>
        {{/overview}}
        {{#instructor}}
        {{^overview}}
        <li class="nav-item">
          <a class="nav-link" href="{{#site}}{{root}}{{/site}}instructor/key-points.html">{{ translate.KeyPoints }}</a>
        </li>
        {{/overview}}
        <li class="nav-item">
          <a class="nav-link" href="{{#site}}{{root}}{{/site}}instructor/instructor-notes.html">{{ translate.InstructorNotes }}</a>
        </li>
        {{^overview}}
        <li class="nav-item">
          <a class="nav-link" href="{{#site}}{{root}}{{/site}}instructor/images.html">{{ translate.Extract AllImages }}</a>
        </li>
        {{/overview}}
        {{/instructor}}
        {{^instructor}}
        {{^overview}}
        <li class="nav-item">
          <a class="nav-link" href="{{#site}}{{root}}{{/site}}key-points.html">{{ translate.KeyPoints }}</a>
        </li>
        {{/overview}}
        <li class="nav-item">
          <a class="nav-link" href="{{#site}}{{root}}{{/site}}reference.html#glossary">{{ translate.Glossary }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{#site}}{{root}}{{/site}}profiles.html">{{ translate.LearnerProfiles }}</a>
        </li>
        {{/instructor}}
        {{#more}}
        <li class="nav-item dropdown">
          <button class="nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            {{ translate.More }} <i data-feather="chevron-down"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{& more }}
          </ul>
        </li>
        {{/more}}
      </ul>
    </div>
    <form class="d-flex col-md-2 search-form">
      <fieldset disabled>
      <input class="form-control me-2 searchbox" type="search" placeholder="{{ translate.Search }}" aria-label="{{ translate.Search }}">
        <button class="btn btn-outline-success tablet-search-button"  type="submit">
          <i class="search-icon" data-feather="search" role="img" aria-label="{{ translate.SearchButton }}"></i>
        </button>
      </fieldset>
    </form>
  </div><!--/div.container-fluid -->
</nav>

<div class="col-md-12 mobile-title">
  {{# site }}{{& title }}{{/ site }}
</div>

{{^overview}}
<aside class="col-md-12 lesson-progress">
  <div style="width: {{progress}}%" class="percentage">
    {{progress}}%
  </div>
  <div class="progress {{#yaml}}{{carpentry_icon}}{{/yaml}}">
    <div class="progress-bar {{#yaml}}{{carpentry_icon}}{{/yaml}}" role="progressbar" style="width: {{progress}}%" aria-valuenow="{{progress}}" aria-label="{{ translate.LessonProgress }}" aria-valuemin="0" aria-valuemax="100">
    </div>
  </div>
</aside>
{{/overview}}
