<!-- START: inst/pkgdown/templates/navbar.html -->
{{#navbar}}
<div class="navbar navbar-{{{type}}} navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">
        <a class="navbar-link" href="{{#site}}{{root}}{{/site}}index.html">Home</a>
{{#yaml}}
        <!-- TODO: the logo is not centered in the nav bar and looks ugly... also there needs to be a better way of choosing the logo... probably on the R side.-->
        <a href="https://{{#cp}}carpentries{{/cp}}{{#swc}}software-carpentry{{/swc}}{{#dc}}data-carpentry{{/dc}}{{#lc}}library-carpentry{{/lc}}.org" class="pull-left">
          <img class="navbar-logo" src="{{#site}}{{root}}{{/site}}img/{{carpentry}}-icon-{{#cp}}blue{{/cp}}{{#swc}}blue{{/swc}}{{#dc}}black{{/dc}}{{#lc}}black{{/lc}}.svg" alt="{{carpentry_name}} logo" />
        </a>
{{/yaml}}
      </span>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      {{#left}}
      <ul class="nav navbar-nav">
        {{{.}}}
      </ul>
      {{/left}}
      {{#right}}
      <ul class="nav navbar-nav navbar-right">
        {{{.}}}
      </ul>
      {{/right}}
      {{#yaml}}{{#docsearch}}
      <form class="navbar-form navbar-right hidden-xs hidden-sm" role="search">
        <div class="form-group">
          <input type="search" class="form-control" name="search-input" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off">
        </div>
      </form>
      {{/docsearch}}{{/yaml}}
    </div><!--/.nav-collapse -->
  </div><!--/.container -->
</div><!--/.navbar -->
{{/navbar}}
<!-- END:   inst/pkgdown/templates/navbar.html-->
