.footer {
	margin-top: 25px;
	font-family: $default_font;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 18px;
	padding-top: 5px;
	padding-bottom: 95px;
}

.footer p{
	padding-left: 20px;
}
