.skip-link {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 12px 24px;
  border: 2px solid $blue;
  background: $white;
  z-index: 100000;
  &:focus {
    outline: 2px solid $blue;
  }
}
