/* Adapted from pkgdown version 2.0.1 (c) RStudio 2022 */
pre .img, pre .r-plt {
  margin: 5px 0;
}

pre .img img, pre .r-plt img {
  background-color: #fff;
}

code {
  font-family: $mono_font, monospace;
  color: #000;
}

p > code {
  background-color: #fff;
  border-radius: 4px;
  font-size: 1em;
}

/* Links ---------------------------------------------------- */

code a:any-link {
  font-family: $mono_font, monospace;
  border-radius: 4px;
  text-decoration: underline;
  text-decoration-color: $gray-400;
}

pre code a:any-link {
  color: inherit;
}

/* don't display links in code chunks when printing */
/* source: https://stackoverflow.com/a/10781533 */
@media print {
  code a:link:after, code a:visited:after {
    content: "";
  }
}

a.sourceLine:hover {
  text-decoration: none;
}

/* Syntax highlighting ---------------------------------------------------- */
/* arrow-light theme */

pre {background-color: #f1f3f5;}
pre code span.al /* Alert          */ {color:#AD0000}
pre code span.an /* Annotation     */ {color:#5E5E5E}
pre code span.at /* Attribute      */ {}
pre code span.bn /* BaseN          */ {color:#AD0000}
pre code span.bu /* BuiltIn        */ {}
pre code span.cf /* ControlFlow    */ {color:#007BA5}
pre code span.ch /* Char           */ {color:#20794D}
pre code span.cn /* Constant       */ {color:#8f5902}
pre code span.co /* Comment        */ {color:#5E5E5E}
pre code span.cv /* CommentVar     */ {color:#5E5E5E; font-style: italic}
pre code span.do /* Documentation  */ {color:#5E5E5E; font-style: italic}
pre code span.dt /* DataType       */ {color:#AD0000}
pre code span.dv /* DecVal         */ {color:#AD0000}
pre code span.er /* Error          */ {color:#AD0000}
pre code span.ex /* Extension      */ {}
pre code span.fl /* Float          */ {color:#AD0000}
pre code span.fu /* Function       */ {color:#4758AB}
pre code span.im /* Import         */ {}
pre code span.in /* Information    */ {color:#5E5E5E}
pre code span.kw /* Keyword        */ {color:#007BA5}
pre code span.op /* Operator       */ {color:#5E5E5E}
pre code span.ot /* Other          */ {color:#007BA5}
pre code span.pp /* Preprocessor   */ {color:#AD0000}
pre code span.sc /* SpecialChar    */ {color:#5E5E5E}
pre code span.ss /* SpecialString  */ {color:#20794D}
pre code span.st /* String         */ {color:#20794D}
pre code span.va /* Variable       */ {color:#111111}
pre code span.vs /* VerbatimString */ {color:#20794D}
pre code span.wa /* Warning        */ {color:#5E5E5E; font-style: italic}
span.error   {font-weight: bolder;}
span.warning {font-weight: bolder;}
