// Div styling for theme toggle
#theme-selector {
  // Float next to Leaner/Instructor
  // View selector
  display: block;
  float: left;
  width: 65px;
  button {
    .feather {
      margin-right: 0px;
    }
    .bi { // svg icons
      width: 1.5em;
      height: 1.5em;
      margin-right: 4px;
    }
  &:focus-visible {
    outline-color: $black;
    outline-width: 4px;
    outline-style: solid;
  }
  }
  #bd-theme {
    margin-right: 15px;
    padding-right: 2px !important;
  }
}

// Theme dropdown list styling
#theme-button-list {
  display: block;
  margin-top: 0px;
  margin-right: 0px;
  .bi {
    opacity: 90%;
    fill: $black;
  }
  ul {
    padding: 4px;
    li {
      margin-top: 0px;
      button {
        margin-top: 0px;
      }
    }
  }
  .dropdown-menu .active .bi {
    display: block !important;
  }
  .dropdown-menu .dropdown-item {
    border-radius: .25em;
  }
  .dropdown-menu .dropdown-item.active {
    color: #fff;
    background-color: shade-color($bright-blue, 20%);
    text-decoration: none; 
    .bi {
      opacity: 100%;
      fill: #fff;
    }
  }
  .dropdown-menu .dropdown-item:hover {
    text-decoration: underline;
  }
}

// Styling for when the toggle is
// a part of the phone sreen sidebar
@include media-breakpoint-down(md) {
  #theme-selector {
    width: 80px;
    // Icon the same size as
    // the eye below it & line up text
    button#bd-theme .bi {
      width: 1.25em;
      height: 1.25em;
      margin-right: 4px;
    }
    // Same color on hover as the
    // Learner View text
    button#bd-theme:hover {
      color: #0044d7;
      text-decoration: underline;
      .bi {
        fill: #0044d7;
      }
    }
  }
  #theme-row-mobile {
    margin-bottom: 0px;
    max-height: 2em;
  }
  #bd-theme {
    margin-top: 0px;
  }
}
