/* Error: unmatched "}".
 *     ,
 * 658 | }
 *     | ^
 *     '
 *   source\stylesheets\dark.scss 658:1       @import
 *   source\stylesheets\styles.css.scss 16:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: unmatched "}".\a     \2577 \a 658 \2502  }\d\a     \2502  ^\a     \2575 \a   source\\stylesheets\\dark.scss 658:1       @import\a   source\\stylesheets\\styles.css.scss 16:9  root stylesheet';
}
